<div class="col-md-8 col-md-offset-2" ng-show="savedSuccess">
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert" ng-click="closeSuccess()">×</button>
    <strong>Annotation saved!</strong> <a href="#/annotations" class="alert-link">Back to overview</a>
  </div>
</div>
<div class="col-md-8 col-md-offset-2">
  <form class="form-horizontal">
    <fieldset>
      <legend>{{headline}}</legend>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <a href="#/annotations" class="btn btn-default">Cancel</a>
          <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        </div>
      </div>
      <div class="form-group">
        <label for="serviceId" class="col-md-2 control-label">Service Identifier</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="serviceId" placeholder="Service Identifier" ng-model="annotation.id" required>
        </div>
      </div>
      <div class="form-group">
        <label for="applicationProtocol" class="col-md-2 control-label">Application Protocol</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="applicationProtocol" placeholder="Application Protocol" ng-model="annotation.applicationProtocol">
        </div>
      </div>
      <div class="form-group">
        <label for="config" class="col-md-2 control-label">Config</label>
        <div class="col-md-10">
          <textarea class="form-control" rows="3" id="config" ng-model="annotation.config"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="proxy-path" class="col-md-2 control-label">Proxy Path</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="proxy-path" placeholder="Proxy Path" ng-model="annotation.proxyPath">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Domains</label>
        <div class="col-md-10">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="New Domain" ng-model="newDomain">
            <a class="btn btn-success input-group-addon" ng-click="addDomain()">+</a>
          </div>
        </div>
      </div>
      <div class="form-group" ng-repeat="(index, domain) in annotation.domains">
        <div class="col-md-10 col-md-offset-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Domain" ng-model="annotation.domains[index]" disabled>
            <a class="btn btn-danger input-group-addon" ng-click="deleteDomain(index)">×</a>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>